<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Hikes</h1>
            <p>Welcome!</p>

            <a class="btn btn-primary btn-lg" href="/hikes/new">Add new Hike</a>
        </div>
    </header>
    
    <div class="row text-center">
        <% hikes.forEach(function(hike) { %>
            <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="<%= hike.image %>" alt="<%= hike.name %>">
                            <div class="card-body">
                              <h5 class="card-title"><%= hike.name %></h5>
                              <a href="/hikes/<%= hike._id %>" class="btn btn-primary">More Info</a>
                            </div>
                          </div>
                          </div>
                <% }) %>
        </div>

</div>


<% include partials/footer %>