table {
    margin-left: 20%;
    margin-right: 20%;
    border: 15px solid #Bdc3c7;
    padding: 10px;
    font-family: Source Sans Pro;
}

h1 {
    margin: 10px;
    color: #2c3e50;
}

p {
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.quote {
    border-left: 5px solid #Bdc3c7;
    padding-left: 5px;
}

.date {
    color: #3498db;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: lightgray;
}