<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Create new hike</h1>
        </div>
        <div style="width: 30%; margin: 20px auto">
        <form action="/hikes" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="image url">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Description of Hike">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/hikes">Go Back</a>
        </div>
    
    </div>
    </div>

</div>


<% include ../partials/footer %>